{% extends 'base.html' %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>

    <hr>
    <!-- 여기서 article_id는 urls.py로 보냄. article.id의 article은 위에서 옴. -->
    <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>

    <hr>

    {% comment %}
    {% for comment in comments %}
    {% endcomment %}

    {% for comment in article.comment_set.all %}

        <p>
            {{ comment.content }}
            <a href="{% url 'articles:comment_delete' article_id=article.id id=comment.id %}">delete</a>
        </p>
        
    {% endfor %}

    
{% endblock %}